/examples/evm/gui_demo_8_1/keil/Objects
/examples/evm/gui_demo_8_1/keil/Output
/examples/evm/gui_demo_rotary_knob/keil/Objects
/examples/evm/gui_demo_rotary_knob/keil/Output
/examples/evm/gui_demo_8_1/keil/Listings
/examples/evm/gui_demo_8_1/keil/*.qixin
/examples/evm/gui_demo_8_1/keil/*.LH
/examples/evm/gui_demo_rotary_knob/keil/Listings
/examples/evm/gui_demo_rotary_knob/keil/*.LH
